@charset "UTF-8";
body,
ul,
li,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
legend {
  margin: 0;
  padding: 0; }

ul,
li,
ol {
  list-style: none; }

img,
fieldset {
  border: 0; }

img {
  display: block; }

a {
  text-decoration: none;
  color: #333; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100; }

body {
  font-size: 12px;
  font-family: "微软雅黑";
  background: #f8f8f8; }

input,
a {
  outline: none; }

@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont.eot");
  src: url("../fonts/iconfont.eot?#iefix") format("../fonts/embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg"); }
header {
  width: 100%;
  height: 88px; }

.header- {
  width: 990px;
  height: 88px;
  margin: 0 auto;
  border-bottom: 3px solid #ff9900; }
  .header- img {
    float: left; }
  .header- a {
    float: left;
    display: block;
    padding: 33px 20pxs; }
  .header- a:nth-child(2) {
    margin-left: 20px;
    margin-top: 33px;
    font-size: 18px; }
  .header- a:nth-child(3) {
    float: right;
    margin-top: 60px; }
    .header- a:nth-child(3):hover {
      color: #f60;
      text-decoration: underline; }

.main {
  width: 100%;
  height: 460px; }

.main- {
  width: 990px;
  height: 460px;
  margin: 0 auto;
  border: 1px solid #dddddd;
  border-top: 3px solid #ff9900;
  background: white; }

.main-1 {
  width: 990px;
  height: 345px;
  padding-top: 50px; }

.main-2 {
  width: 380px;
  height: 345px;
  margin: 0 auto; }

.main-2-1 {
  width: 180px;
  height: 17px;
  font-size: 14px; }
  .main-2-1 i {
    float: left;
    margin-right: 5px; }
    .main-2-1 i img {
      width: 20px;
      height: 17px; }
  .main-2-1 em {
    font-style: normal;
    color: #ff4487; }

.main-2-2 {
  border: 1px solid #dddddd;
  width: 380px;
  height: 40px;
  margin-top: 10px; }
  .main-2-2 label {
    width: 87px;
    height: 38px;
    float: left;
    line-height: 38px;
    text-align: center;
    line-height: 38px; }
  .main-2-2 .main-2-2-1 {
    float: right;
    width: 286px;
    height: 38px;
    position: relative; }
    .main-2-2 .main-2-2-1 input {
      width: 284px;
      height: 38px;
      border: 0; }
  .main-2-2 .main-2-2-2 {
    float: left;
    margin-top: 2px;
    width: 300px;
    height: 18px;
    color: red; }

.main-3 {
  border: 1px solid #dddddd;
  width: 380px;
  height: 40px;
  margin-top: 20px; }

.main-3-1 {
  width: 380px;
  height: 40px; }
  .main-3-1 label {
    width: 87px;
    height: 38px;
    float: left;
    text-align: center;
    line-height: 38px; }
  .main-3-1 .main-3-2 {
    width: 293px;
    height: 38px;
    float: left;
    position: relative; }
    .main-3-1 .main-3-2 input:nth-child(1) {
      float: left;
      width: 142px;
      height: 38px;
      border: 0; }
    .main-3-1 .main-3-2 input:nth-child(2) {
      font-size: 20px;
      text-align: center;
      line-height: 34px;
      float: right;
      width: 83px;
      line-height: 36px;
      border: 1px solid #bbbbbb;
      background: #f5f5f5;
      color: deepskyblue;
      font-style: italic;
      font-weight: 700;
      cursor: pointer; }

.main-3-k {
  margin-top: 2px;
  width: 300px;
  height: 16px;
  color: red; }

.main-4 {
  border: 1px solid #dddddd;
  width: 380px;
  height: 40px;
  margin-top: 25px; }
  .main-4 label {
    width: 87px;
    height: 38px;
    float: left;
    line-height: 38px;
    text-align: center;
    line-height: 38px; }
  .main-4 .main-4-1 {
    float: right;
    width: 286px;
    height: 38px;
    position: relative; }
    .main-4 .main-4-1 input {
      width: 284px;
      height: 38px;
      border: 0; }

.main-k-4 {
  margin-top: 42px;
  width: 300px;
  height: 18px; }

.main-5 {
  position: relative;
  margin-top: 40px;
  width: 380px;
  height: 18px; }
  .main-5 input {
    width: 10px;
    height: 10px;
    float: left; }
  .main-5 a {
    float: left; }

.main-5-k {
  position: absolute;
  top: 16px;
  width: 300px;
  height: 18px; }

.main-6 {
  margin-top: 20px;
  width: 380px;
  height: 40px; }
  .main-6 a {
    display: block;
    width: 380px;
    height: 40px;
    background: #ff6600;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 18px; }

.main-7 {
  margin-top: 20px;
  width: 380px;
  height: 18px; }
  .main-7 i {
    display: block;
    width: 18px;
    height: 16px;
    float: left; }
    .main-7 i img {
      width: 18px;
      height: 16px; }
  .main-7 a {
    float: left;
    color: #ff6600; }

.over {
  text-align: center;
  width: 100%;
  height: 175px; }

.ng-s-f-con {
  width: 990px;
  min-width: 990px;
  margin: 0 auto;
  font-family: "Microsoft Yahei"; }
  .ng-s-f-con p.ng-url-list {
    height: 25px;
    line-height: 25px;
    margin-top: 10px; }
    .ng-s-f-con p.ng-url-list a {
      padding: 5px; }
      .ng-s-f-con p.ng-url-list a:hover {
        color: #F60;
        text-decoration: underline; }

.ng-copyright {
  line-height: 25px;
  color: #999;
  height: 25px;
  margin-top: 5px; }

.ng-authentication {
  float: left;
  height: 25px;
  width: 990px;
  margin-top: 5px; }
  .ng-authentication a {
    display: inline-block; }

/*# sourceMappingURL=register.css.map */
